.card {
    width: 240px;
    margin: 10px;
    display: inline-block;
    background-color: lightgray;
}

.card-title {
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 15px;
}

.card-image {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.edit-button {
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-10%, -85%);
    font-size: 20px;
}

.delete-button {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-90%, -15%);
    font-size: 20px;
}

.browseSelectCheckbox {
    top: 5%;
    left: 7%;
    transform: translate(-10%, -10%);
}

.selectCheckbox {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.selectCheckbox:checked {
    background-color: darkgreen;
}

.modal {
    text-align: center;
}

.card-title {
    font-weight: bold;
}

.card-release-date {
    font-size: 12px;
    float: left;
}

.card-runtime {
    font-size: 12px;
    float: left;
}

.card-mpaa-rating {
    font-size: 12px;
    float: right;
}

.card-user-rating {
    font-size: 12px;
    float: right;
}

.pagination {
    justify-content: center;
}

tr {
    background-color: lightgray;
    font-weight: bold;
}

td {
    background-color: darkgray;
}

.table-image {
    width: 100px;
    height: 150px;
}

.overviewLabel {
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    color: floralwhite;
}

.topicLabel {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color: floralwhite;
}

.subLabel {
    font-size: 15px;
    font-weight: bold;
    color: floralwhite;
}

#sortByForm {
    float: right;
    margin-right: 15px;
}

.leftForms {
    float: left;
    display: inline-flex;
    margin-left: 20px;
    z-index: 0;
}

#bulkActions {
    margin-left: 10px;
}

i {
    color: dimgrey;
}

.menu-item {
    font-size: 18px;
}

a:link {
    font-weight: bold;
    color: dimgrey;
}

a:visited {
    color: dimgrey;
}

a:hover {
    color: blue;
}

a:active {
    color: white;
}

.pagination .page-item.active a {
    background-color: darkgrey;
}

.pagination .page-item:hover a {
    color: darkgrey;
}

.btn.btn-link {
    color: dimgrey;
}

label {
    color: dimgrey;
}

progress {
    width: 50%;
}

.viewMore {
    float: right;
    padding-right: 20px;
    font-size: 20px;
}

.verticalCenter {
    padding-left: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.floatRight {
    float: right;
    margin-right: 15px;
}