.navbar {
    background-color: #333;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.btn {
    color: darkgrey;
    font-size: 22px;
    border-color: grey;
    background-color: #333;
}

.nav-btn {
    width: 100%;
}

.navbar-center {
    padding-left: 200px;
}

.btn:focus {
    color: darkgrey;
    border-color: grey;
    background-color: #333;
}

.btn:hover {
    color: darkgrey;
    border-color: #333;
    background-color: grey;
}

.form-input {
    color: white;
    border-color: grey;
    background-color: #333;
}

.form-input:focus {
    border-color: grey;
}

.input-group-btn {
    background-color: lightgrey;
    margin-right: 10px;
}

.menu {
    color: white;
    background-color: #333;
}

.sidebar {
    color: lightgrey;
    height: 100vh;
    background: #333;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.sidebar-logo {
    width: 50px;
    height: 50px;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

.avatar {
    margin-left: 10px;
    margin-right: 10px;
}

.divider {
    border-top: 0.1rem solid dimgray;
    margin-left: 10%;
    margin-right: 10%;
}

.settings-divider {
    border-top: 0.1rem solid dimgray;
    margin-left: 30%;
    margin-right: 30%;
}

.body {
    background-color: #181818;
    padding-left: 200px;
    text-align: center;
    padding-top: 70px;
}

.popover-container {
    background-color: white;
}

.accordion-header {
    font-size: 35px;
    font-weight: bold;
}